<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appbooster.appboostersdk">

    <application>
        <activity
            android:name=".AppboosterDebugActivity"
            android:theme="@style/Theme.Appbooster.DebugScreen"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
    </application>
</manifest>
